.socialMediaContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  border-bottom: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;

  &__each {
    display: grid;
    justify-content: center;
    opacity: 0.75;
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;

    & img {
      display: flex;
      flex-flow: wrap row;
      width: 2rem;
      height: 2rem;

      &:hover {
        opacity: 1;
        filter: saturate(1.5);
      }
    }
  }
}
